p {
  display: flex;
  justify-content: start;
  margin-top: 10px;
}
.tasks {
  & header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  padding-inline-end: 4rem;
  & ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
  }
}
