<section class="wrapper">
  <form class="calculator" (ngSubmit)="handleForm()">
    <div class="calculator__item">
      <label for="initial">Initial Investment</label>
      <app-input id="initial" [(ngModel)]="initial" name="initial" />
    </div>
    <div class="calculator__item">
      <label for="annual">Annual Investment</label>
      <app-input id="annual" [(ngModel)]="annual" name="annual" />
    </div>
    <div class="calculator__item">
      <label for="expected">Expected Return</label>
      <app-input id="expected" [(ngModel)]="expected" name="expected" />
    </div>
    <div class="calculator__item">
      <label for="duration">Duration</label>
      <app-input id="duration" [(ngModel)]="duration" name="duration" />
    </div>
    <button class="calculator__button" type="submit">Calculate</button>
  </form>
</section>
@if (res) {
<table class="result">
  <thead>
    <tr>
      <th>Year</th>
      <th>Investment Value</th>
      <th>Interest (Year)</th>
      <th>Total Investment</th>
      <th>Invested Capital</th>
    </tr>
  </thead>
  <tbody>
    @for (item of res; track item.year) {
    <tr>
      <td>{{ item.year }}</td>
      <td>{{ item.valueEndOfYear }}</td>
      <td>{{ item.interest }}</td>
      <td>{{ item.annualInvestment }}</td>
      <td>{{ item.totalAmountInvested }}</td>
    </tr>
    }
  </tbody>
</table>
}
