<button (click)="navigateToRandom()">login works!</button>

<form class="login" (ngSubmit)="handleSubmit(form)" #form="ngForm">
  <div class="login__item">
    <label for="userName">Enter your user name please:</label>
    <input type="text" placeholder="userName" id="userName" name="userName" ngModel required>
  </div>
  <div class="login__item">
    <label for="password">Enter your password please:</label>
    <input type="password" placeholder="password" id="password" name="password" ngModel required minlength="6">
  </div>
  <div class="login__item">
    <label for="email">Enter your email please:</label>
    <input type="email" placeholder="email" id="email" name="email" ngModel required email>
  </div>
  <div class="login__item">
<label for="phoneNumber">Enter your phone number please:</label>
<input type="text" inputmode="numeric" pattern="[0-9]+"  placeholder="phoneNumber" id="phoneNumber" name="phoneNumber" ngModel required>
  </div>
  <button type="submit" [disabled]="form.form.invalid">Submit</button>
  @if(form.form.touched && form.form.invalid){
    <p class="error">Invalid Credentials</p>
  }
</form>
