#users {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 10px auto;
  align-items: center;
  list-style: none;
  width: 100%;
  align-items: end;
}

#main {
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 1rem;
}
