.user {
  width: 180px;
  border-radius: 16px;
  color: #f2f2f2;
  background-color: var(--primary-color);
  opacity: 80;
  & button {
    cursor: pointer;
    background-color: var(--primary-color);
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.25rem;
    color: inherit;
    & img {
      width: 40px;
      aspect-ratio: 1;
      object-fit: contain;
      border-radius: 50%;
    }
  }
}
